<configuration>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <denyUrlSequences>
          <clear />
        </denyUrlSequences>
        <fileExtensions allowUnlisted="true">
          <clear />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>