@using WikiLibs.Core.Controllers
@model TestEmailModel
<html>
<head>

</head>
<body>
	<h1>@Model.Title</h1>
	<p>This is a test message for HTML based testing</p>
	<img alt="TestImage" src="https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
</body>
</html>
